.RoundedBorder{
  background: lightgray;
  color: black;
  border: 5px solid skyblue;
  border-radius: 10px;
  padding: 10px;;
}

body{
  background: black;
}

img{
  width: 340px;
  height: 100px;
  display: block;
}

.ParagraphOne{
  margin-top: -18px;
  color: white;
}